language: node_js
node_js:
  - "node"
addons:
  sonarcloud:
    organization: "kmindi-github" # the key of the org you chose at step #3
cache:
 directories:
   - "node_modules"
install:
   - npm install
script:
  - npm test
  - sonar-scanner

